@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}

a{
 text-decoration: none;
 color: white;
 font-size: 0.8rem;
 font-weight: 400;
}
body{
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white; 
  ::-webkit-scrollbar{
    display: none;
  }
}

.App{
  width: 100%;
  height: 100vh;
}


//?SignUp Page styles
.signUp-contanier{
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  > form{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
    > h1{
      background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    > div{
      >input{
        width: 95%;
        padding: 1rem 0.5rem;
        border: none;
        outline: none;
        color: rgb(255, 255, 255);
        background-color: rgb(83, 83, 83);
        border-radius: 5px;
        font-size: 0.8rem;
      }
      > p{
        color: red;
      }
      }
    }
  }

  .submite-button{
      > button{
        padding: 0.8rem 1.3rem;
        color: black;
        border: none;
        outline: none;
        border-radius: 5px;
        font-weight: 500;
        font-size: 0.8rem;
        &:hover{
          color: white;
          background-color: #4158D0;
          background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        }
      }
  }


//? Loading Page Styles
.loading{
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  >h1{
    color: white;
  }
}

//? NavBar Style
.navbar{
  width: 100%;
  background-color: rgb(73, 73, 73);
  display: flex;
  justify-content: space-between;
  align-items: center;
  > h1{
    font-weight: 700;
    margin-left: 0.5rem;
    background: -webkit-linear-gradient(#f9f8f8, #505050);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover{
      background: -webkit-linear-gradient(#4158D0 0%, #C850C0 46%, #FFCC70 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    > a{
      font-size: 2rem;
    }
  }
  > ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 0.5rem;
    > button{
      border: none;
      outline: none;
      padding: 0.5rem;
      color: white;
      font-size: 0.8rem;
      font-weight: 400;
      border-radius: 5px;
      background-color: #4158D0;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
      transition: 0.5s;
      &:hover{
        background-color: #4158D0;
        background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
      }
    }
    > a{
      > svg{
        font-size: 1.2rem;
        color: gold;
      }
    }
  }
}

.noti{
  position: absolute;
  top: 1.3%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: red;
}

//? Home Page styles
//!Intro page
.Starting-page{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: none;
  ::-webkit-scrollbar{
    display: none;
  }
}



.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    > img{
      width: 200px;
    }
    > h1{
      font-size: 2.5rem;
      font-weight: 800;
      background: -webkit-linear-gradient(#ffffff, #656565);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    > button{
      padding: 0.5rem 0.8rem; 
      border: none;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: #4158D0;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
      transition: 0.5s;
      &:hover{
        background-color: #4158D0;
        background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 66%, #FFCC70 100%);
      }
    }
  }
  @keyframes Rotation {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
}

.logo{
  animation: Rotation infinite 10s linear;
}

//? Home page 
.home{
  width: 100%;
  height: 96vh;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.3rem;
  background-color: #333;
  ::-webkit-scrollbar{
    display: none;
  }
}

.add-user{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > div{
    text-align: center;
    >svg{
      font-size: 5rem;
    }
    >h2{
      margin: 1rem 0; 
      background: -webkit-linear-gradient(#f9f8f8, #505050);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    > button{
      color: white;
      padding: 0.5rem 0.8rem; 
      border: none;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: #4158D0;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
      transition: 0.5s;
      &:hover{
        background-color: #4158D0;
        background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 66%, #FFCC70 100%);
      }
    }
  }
}

.users-container{
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  overflow-y: auto;
  > button{
    padding: 0.5rem 0.8rem; 
    margin: 0.3rem 0;
    font-size: 0.7rem;
    font-weight: 500;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transition: 0.5s;
    &:hover{
      background-color: #4158D0;
      background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 66%, #FFCC70 100%);
    }
  }
}

.selected-user{
  background-color: rgb(59, 59, 59);
}

.message-body{
  background-color: black;
  width: 100%;
}

.messages-container{
  width: 100%;
  height: 100%;
}
.message-user{
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  > svg{
    display: none;
  }
  > a{
    padding-left: 1rem;
    padding-right: 0.5rem;
    > img{
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.messages{
  width: 100%;
  height: 85%;
}
.mine{
  text-align: right;
}

.myself{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.other{
  background-color: #4158D0;
  background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 66%, #FFCC70 100%);
}

.animation{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > img{
    width: 300px;
    height:300px;
    &:hover{
      animation: Rotation infinite 10s linear;
    }
  }
  &:hover > h1{
    background: -webkit-linear-gradient(#4158D0 0%, #C850C0 46%, #FFCC70 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  @keyframes Rotation {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
}
.messages{
  height: calc(100vh - 200px);
  overflow-y: auto;
  // border: 1px solid red;
  &::-webkit-scrollbar{
    display: none;
  }
}
.message-wrapper{
  margin-top: 10px;
  padding: 0 5px;
  > img{
    width: 50px;
    border-radius: 50%;
  }
  > div{
    color: white;
    padding: 0.6rem;
    display: inline-block;
    max-width: 50%;
    text-align: center;
    border-radius: 5px;
    > img{
    width: 100%;
    border-radius: 5px;
    }
    > p{
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      > small{
        display: inline-block;
        margin-top: 0.7rem;
        opacity: 0.8;
      }
    }
  }
}
.message-form{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  > label{
    width: 5%;
    display: flex;
    > svg{
      font-size: 1.3rem;
      padding: 0.5rem 0.3rem;
      &:hover{
        color: blue;
      }
    }
  }
  > div{
    > button{
      padding: 0.5rem;
      color: white;
      background-color: blue;
      border: none;
      outline: none;
      border-radius: 5px;
    }
  }
}
.message-form input{
  width: 40vw;
  font-size: 0.8rem;
  margin: 0  0.6rem;
  padding: 0.6rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.seletedImg{
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid greenyellow;
}

.unseletedImg{
  display: none;
}
.user-details{
  height: 50px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  > img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.user{
  display: flex;
  flex-direction: column;
}

.user-container{
  padding: 1rem 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  overflow-y: auto;
  transition: 0.5s;
  &:hover{
    transform: scale(1.01);
  }
}
.user-name{
  > h4{
    font-weight: bold;
  }
  > p{
    margin-bottom: 0.5rem;
  }
}
.user-status{
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  > h4{
    text-transform: capitalize;
  }
}
.unread{
  color: white;
  width: 100%;
  height: 23px;
  overflow-y: hidden;
}
.read{
  color: gray;
  width: 100%;
  height: 23px;
  overflow-y: hidden;
}

.online{
  background-color: greenyellow;
}
.offline{
  background-color: red;
}

//? Profile page Styles
.profile-body{
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container{
  display: flex;
  border-radius: 20px;
  padding:2rem 1rem;
  gap: 1rem;
  background-color: #4158D0;
  background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 66%, #FFCC70 100%); ;
}
.img-container{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  > input{
    opacity: 0;
    position: absolute;
  }
  > svg{
    position: absolute;
    font-size: 1.2rem;
    opacity: 0;
  }
  &:hover img{
  opacity: 0.5;
  }
  &:hover svg{
    opacity: 1;
  }
}

.user-info{
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

//? AddUser page styles
.search-user{
  padding-inline: 0.3rem;
  padding-block: 0.5rem;
  background-color: black;
  > input{
    width: 90%;
    padding: 0.5rem;
    background: #333;
    color: white;
    border: none;
    outline: none;
    font-size: 0.9rem;
  }
}

.searched-user{
  height: 89vh;
  overflow-y: auto;
  > h3{
    margin: 1rem 0.5rem; 
    background: -webkit-linear-gradient(#f9f8f8, #505050);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.request-Button{
 > h5{
  background-color: #333;
  padding: 0.5rem;
  border-radius: 5px;
 }
 > p{
  width: 80%;
  font-size: 0.9rem;
  background-color:rgb(171, 255, 44);
  text-align: center;
  padding: 0.3rem 0;
  border-radius: 5px;
 }
  > button{
    padding: 0.5rem 0.8rem; 
    margin: 0.3rem 0;
    font-size: 0.7rem;
    font-weight: 500;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transition: 0.5s;
    &:hover{
      background-color: #4158D0;
      background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 66%, #FFCC70 100%);
    }
  }
}

//? friend request page Styles 
.friend-list{
  width: 100%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.friend-requests{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  padding: 0 0.5rem;
  > button{
    padding: 0.5rem 2rem; 
    margin: 0 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transition: 0.5s;
    &:hover{
      transform: scale(1.1);
      background-color: #4158D0;
      background-image: linear-gradient(100deg, #4158D0 0%, #C850C0 66%, #FFCC70 100%);
    }
  }
}

.request{
  width: 100%;
  height: 96vh;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.3rem;
  background-color: black;
  ::-webkit-scrollbar{
    display: none;
  }
}
//? Media Queries 
@media(max-width:777px){
  .signUp-contanier{
    > form{
      width: 100%;
    }
  }
}

@media(max-width:750px){
  .navbar{
    padding: 0.5rem;
    >h1{
      > a{
        font-size: 1.5rem;
      }
    }
  }
  .home{
    grid-template-columns: 1fr;
  }
  .message-body{
    position: absolute;
  }

  .message-user{
    > svg{
      display: block;
      margin-left: 0.5rem;
      font-weight: bold;
    }
  }

  .open{
    transform: translateX(-100%);
  }

  .request{
    grid-template-columns: 1fr;
  }

  .animation{
    display: none;
  }

  .message-form input{
    width: 70vw;
  }
  .container{
    width: 100%;
  }

  .messages{
    height: calc(95vh - 100px);
  }

  .seletedImg{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid greenyellow;
  }
  .btn{
    button{
      padding: 0.5rem 1rem;
    }
  }

  .profile-container{
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
}